<button class='btn btn-default'>
{{#if unbound}}
  <span class="glyphicon glyphicon-refresh"></span>
  <span class="text-muted">Inf</span>
{{else}}
  <span class="glyphicon glyphicon-unchecked"></span>
  <span class="text-muted">Bnd</span>
{{/if}}
</button>
