<div class="c-row">
  <div class="instructions text-center">
    <h2>Controls</h2>
    <p>WASD</p>
    <h2>Other</h2>
    <p>Bnd = Bound board</p>
    <p>Inf = Infinite board</p>
    <p>300 points = speedup</p>
    <p>
      <button class="btn btn-default" {{action 'restart'}}>Play</button>
    </p>
  </div>
</div>
