
<div class="container">
  <h1 id="title" class="text-center">Zen Snake</h1>
  {{outlet}}
</div>

<footer>
  <div class="container">
      <div class="col-xs-3">{{dev-social}}</div>
  </div>
</footer>
